<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5"> 
  <display-name>ZFGT</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.zfgt.filter.MyServletContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF\classes\applicationContext.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.properties</param-value>
  </context-param>
  <filter>
    <filter-name>administratorFilter</filter-name>
    <filter-class>com.zfgt.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>administratorFilter</filter-name>
    <url-pattern>/Product/Admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>administratorFilter</filter-name>
    <url-pattern>/Product/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>usersFilter</filter-name>
    <filter-class>com.zfgt.filter.UsersFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>usersFilter</filter-name>
    <url-pattern>/Product/User/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>usersFilter</filter-name>
    <url-pattern>/Product/user/*</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/Product/page_404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/Product/page_500.jsp</location>
  </error-page>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    <init-param>
      <param-name>actionPackages</param-name>
      <param-value>com.zfgt</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <distributable/>
</web-app>